<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whalecloud.mapper.re.ResDetailMapper" >
  <resultMap id="BaseResultMap" type="com.whalecloud.domain.re.ResDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_type" property="resourceType" jdbcType="VARCHAR" />
    <result column="tower_id" property="towerId" jdbcType="VARCHAR" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
    <result column="lessor" property="lessor" jdbcType="VARCHAR" />
    <result column="lessee" property="lessee" jdbcType="VARCHAR" />
    <result column="ISP" property="isp" jdbcType="VARCHAR" />
    <result column="investment_cost" property="investmentCost" jdbcType="VARCHAR" />
    <result column="effective_time" property="effectiveTime" jdbcType="DATE" />
    <result column="NEP" property="nep" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="importance" property="importance" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="area_code" property="areaCode" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="lease_status" property="leaseStatus" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="YN" property="yn" jdbcType="INTEGER" />
    <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, resource_id, resource_name, resource_type, tower_id, owner, lessor, lessee, ISP, 
    investment_cost, effective_time, NEP, status, importance, rate, latitude, longitude, 
    area_code, address, lease_status, path, create_time, update_time, YN, deadline
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.whalecloud.domain.re.ResDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from res_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from res_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from res_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.whalecloud.domain.re.ResDetailExample" >
    delete from res_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.whalecloud.domain.re.ResDetail" >
    insert into res_detail (id, resource_id, resource_name, 
      resource_type, tower_id, owner, 
      lessor, lessee, ISP, 
      investment_cost, effective_time, NEP, 
      status, importance, rate, 
      latitude, longitude, area_code, 
      address, lease_status, path, 
      create_time, update_time, YN, 
      deadline)
    values (#{id,jdbcType=BIGINT}, #{resourceId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, 
      #{resourceType,jdbcType=VARCHAR}, #{towerId,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR}, 
      #{lessor,jdbcType=VARCHAR}, #{lessee,jdbcType=VARCHAR}, #{isp,jdbcType=VARCHAR}, 
      #{investmentCost,jdbcType=VARCHAR}, #{effectiveTime,jdbcType=DATE}, #{nep,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{importance,jdbcType=INTEGER}, #{rate,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{leaseStatus,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{yn,jdbcType=INTEGER}, 
      #{deadline,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whalecloud.domain.re.ResDetail" >
    insert into res_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="towerId != null" >
        tower_id,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="lessor != null" >
        lessor,
      </if>
      <if test="lessee != null" >
        lessee,
      </if>
      <if test="isp != null" >
        ISP,
      </if>
      <if test="investmentCost != null" >
        investment_cost,
      </if>
      <if test="effectiveTime != null" >
        effective_time,
      </if>
      <if test="nep != null" >
        NEP,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="importance != null" >
        importance,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="leaseStatus != null" >
        lease_status,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="yn != null" >
        YN,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="towerId != null" >
        #{towerId,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="lessor != null" >
        #{lessor,jdbcType=VARCHAR},
      </if>
      <if test="lessee != null" >
        #{lessee,jdbcType=VARCHAR},
      </if>
      <if test="isp != null" >
        #{isp,jdbcType=VARCHAR},
      </if>
      <if test="investmentCost != null" >
        #{investmentCost,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="nep != null" >
        #{nep,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="importance != null" >
        #{importance,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="leaseStatus != null" >
        #{leaseStatus,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        #{yn,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.whalecloud.domain.re.ResDetailExample" resultType="java.lang.Integer" >
    select count(*) from res_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update res_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null" >
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceType != null" >
        resource_type = #{record.resourceType,jdbcType=VARCHAR},
      </if>
      <if test="record.towerId != null" >
        tower_id = #{record.towerId,jdbcType=VARCHAR},
      </if>
      <if test="record.owner != null" >
        owner = #{record.owner,jdbcType=VARCHAR},
      </if>
      <if test="record.lessor != null" >
        lessor = #{record.lessor,jdbcType=VARCHAR},
      </if>
      <if test="record.lessee != null" >
        lessee = #{record.lessee,jdbcType=VARCHAR},
      </if>
      <if test="record.isp != null" >
        ISP = #{record.isp,jdbcType=VARCHAR},
      </if>
      <if test="record.investmentCost != null" >
        investment_cost = #{record.investmentCost,jdbcType=VARCHAR},
      </if>
      <if test="record.effectiveTime != null" >
        effective_time = #{record.effectiveTime,jdbcType=DATE},
      </if>
      <if test="record.nep != null" >
        NEP = #{record.nep,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.importance != null" >
        importance = #{record.importance,jdbcType=INTEGER},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=DOUBLE},
      </if>
      <if test="record.latitude != null" >
        latitude = #{record.latitude,jdbcType=VARCHAR},
      </if>
      <if test="record.longitude != null" >
        longitude = #{record.longitude,jdbcType=VARCHAR},
      </if>
      <if test="record.areaCode != null" >
        area_code = #{record.areaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.leaseStatus != null" >
        lease_status = #{record.leaseStatus,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yn != null" >
        YN = #{record.yn,jdbcType=INTEGER},
      </if>
      <if test="record.deadline != null" >
        deadline = #{record.deadline,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update res_detail
    set id = #{record.id,jdbcType=BIGINT},
      resource_id = #{record.resourceId,jdbcType=VARCHAR},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=VARCHAR},
      tower_id = #{record.towerId,jdbcType=VARCHAR},
      owner = #{record.owner,jdbcType=VARCHAR},
      lessor = #{record.lessor,jdbcType=VARCHAR},
      lessee = #{record.lessee,jdbcType=VARCHAR},
      ISP = #{record.isp,jdbcType=VARCHAR},
      investment_cost = #{record.investmentCost,jdbcType=VARCHAR},
      effective_time = #{record.effectiveTime,jdbcType=DATE},
      NEP = #{record.nep,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      importance = #{record.importance,jdbcType=INTEGER},
      rate = #{record.rate,jdbcType=DOUBLE},
      latitude = #{record.latitude,jdbcType=VARCHAR},
      longitude = #{record.longitude,jdbcType=VARCHAR},
      area_code = #{record.areaCode,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      lease_status = #{record.leaseStatus,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      YN = #{record.yn,jdbcType=INTEGER},
      deadline = #{record.deadline,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.whalecloud.domain.re.ResDetail" >
    update res_detail
    <set >
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=VARCHAR},
      </if>
      <if test="towerId != null" >
        tower_id = #{towerId,jdbcType=VARCHAR},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="lessor != null" >
        lessor = #{lessor,jdbcType=VARCHAR},
      </if>
      <if test="lessee != null" >
        lessee = #{lessee,jdbcType=VARCHAR},
      </if>
      <if test="isp != null" >
        ISP = #{isp,jdbcType=VARCHAR},
      </if>
      <if test="investmentCost != null" >
        investment_cost = #{investmentCost,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTime != null" >
        effective_time = #{effectiveTime,jdbcType=DATE},
      </if>
      <if test="nep != null" >
        NEP = #{nep,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="importance != null" >
        importance = #{importance,jdbcType=INTEGER},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="leaseStatus != null" >
        lease_status = #{leaseStatus,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null" >
        YN = #{yn,jdbcType=INTEGER},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whalecloud.domain.re.ResDetail" >
    update res_detail
    set resource_id = #{resourceId,jdbcType=VARCHAR},
      resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=VARCHAR},
      tower_id = #{towerId,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      lessor = #{lessor,jdbcType=VARCHAR},
      lessee = #{lessee,jdbcType=VARCHAR},
      ISP = #{isp,jdbcType=VARCHAR},
      investment_cost = #{investmentCost,jdbcType=VARCHAR},
      effective_time = #{effectiveTime,jdbcType=DATE},
      NEP = #{nep,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      importance = #{importance,jdbcType=INTEGER},
      rate = #{rate,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      lease_status = #{leaseStatus,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      YN = #{yn,jdbcType=INTEGER},
      deadline = #{deadline,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.whalecloud.domain.re.ResDetailExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from res_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>